@import "tailwindcss";

@source '../../**/*.php';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility bg-linear-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

@layer base {
  html {
    @apply antialiased;
  }

  body {
    @apply text-zinc-800 dark:text-zinc-100;
  }
}

/* Custom prose styles */

#footer-nav {
  @apply list-none;
}

/* #menu-main-menu li a {
  @apply py-4;
} */


.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  text-decoration: underline;
  text-decoration-color: var(--tw-prose-underline);
  text-underline-offset: 0.125em;
  transition-property: color, text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.prose :where(a):not(:where([class~="not-prose"] *)):hover {
  color: var(--tw-prose-links-hover);
  text-decoration-color: var(--tw-prose-underline-hover);
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  background-color: var(--tw-prose-code-bg);
  padding: 0.125em 0.25em;
  border-radius: 0.25rem;
  font-size: 0.875em;
  font-weight: 500;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-left-width: 0.25rem;
  border-left-color: var(--tw-prose-quote-borders);
  quotes: "\201C" "\201D" "\2018" "\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

a.portfolio-link {
  @apply inline-block mb-3 no-underline rounded-2xl py-4 px-6 text-sm outline-offset-2 transition active:transition-none bg-zinc-50 font-medium text-zinc-900 hover:bg-zinc-100 active:bg-zinc-100 active:text-zinc-900/60 dark:bg-zinc-800/50 dark:text-zinc-300 dark:hover:bg-zinc-800 dark:hover:text-zinc-50 dark:active:bg-zinc-800/50 dark:active:text-zinc-50/70;
}

.error h2.widgettitle {
  @apply text-3xl font-bold mb-4;
}

.error .widget_recent_entries ul {
  @apply list-disc ml-4 mb-4;
}

.error .widget_recent_entries ul li a {
  @apply text-zinc-600 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-200;
}

#menu-main-menu-1 li {
  @apply py-2;
}

/* #menu-main-menu-1 li a {
  @apply text-sm;
} */

label.wpforms-field-label {
  @apply text-base! text-zinc-600! dark:text-zinc-400!;
}

button.wpforms-submit {
  @apply rounded-md! py-2! px-4! text-sm! bg-zinc-800! text-zinc-100! hover:bg-zinc-700! active:bg-zinc-800! active:text-zinc-100/70! dark:bg-zinc-700! dark:hover:bg-zinc-600! dark:active:bg-zinc-700! dark:active:text-zinc-100/70!;
}

span.wpforms-required-label {
  @apply text-base! text-zinc-600! dark:text-zinc-400!;
}

.wpforms-error, .wpforms-error::before {
  @apply text-zinc-600! dark:text-zinc-400!;
}

.wpforms-error::before {
  @apply bg-zinc-600! dark:bg-zinc-400!;
}

div.wpforms-container-full input[type=text],
div.wpforms-container-full input[type=email], div.wpforms-container-full .wpforms-form textarea {
  @apply rounded-lg;
}
